User copyed 
<a href="{{idToHref newCardID}}">{{cardIDtoName newCardID}}</a>
from 
<a href="{{idToHref cardID}}">{{cardIDtoName cardID}}</a>to {{listIDtoName newListID}}
<span class="smaller">{{relativeTime time}}</span>